.clip {
  position: relative;
  display: grid;
  place-items: center;
  width: 150px;
  height: 150px;
}
.clip img {
  width: 150px;
  height: 150px;
}
@keyframes clipMe {
  0%,
  100% {
    clip: rect(0, 170px, 3px, 0);
  }
  25% {
    clip: rect(0, 3px, 160px, 0);
  }
  50% {
    clip: rect(158px, 170px, 170px, 0);
  }
  75% {
    clip: rect(0, 170px, 170px, 158px);
  }
}
.clip::before,
.clip::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 110%;
  height: 110%;
  margin: -5px;
  box-shadow: inset 0 0 0 2px #ff9911;
  animation: clipMe 3s linear infinite;
}
.clip::before {
  animation-delay: -1.5s;
}
